Babel==0.9.6
Jinja2==2.6
PIL==1.1.7
PyYAML==3.10
Pygments==1.6rc1
Werkzeug==0.8.3
blinker==1.2
csscompressor==0.9.1
distribute==0.6.31
docutils==0.10
logilab-astng==0.24.1
logilab-common==0.58.3
odict==1.5.1
ply==3.4
pylint==0.26.0
rstblog==1.0
s3cmd==1.1.0-beta3
slimit==0.7.4
stevedore==0.6
virtualenv==1.8.2
virtualenv-clone==0.2.4
virtualenvwrapper==3.6
wsgiref==0.1.2
