{% extends "layout.html" %}

{% block container %}
        <div id="content">
          {%- for entry in pagination.get_slice() if entry.config.post_type == 'post' %}
          <div id="post-{{ entry.config.post_id }}" class="post">
            <h1><a href="{{ link_to('page', slug=entry.slug) }}">{{ entry.title }}</a></h1>
            <div class="post-content">
              {{ entry.render_contents() }}
            </div><!-- end post-content -->

            <p class="post-metadata">Posted by {{ entry.config.author }} {% if entry.config.pub_date -%} on {{ format_date(entry.config.pub_date, format='full') }}{%- endif %}
            {%- if entry.config.tags %} in {%- for tag in entry.config.tags|sort(case_sensitive=true) %}
              {%- if not loop.first and not loop.last %}, {% endif -%}
              {%- if loop.last and not loop.first %} and {% endif %}
              <a href="{{ link_to('tag', tag=tag) }}" title="View all posts in {{ tag | capitalize }}" rel="category tag">{{ tag | capitalize}}</a>
              {%- endfor %}
            {%- endif -%}.<br/>
              <a href="{{ link_to('page', slug=entry.slug) }}/#disqus_thread" data-disqus-identifier="{{ entry.config.disqus_id if entry.config.disqus_id else entry.config.slug }}"></a>
            </p>

          </div><!-- end post-{{ entry.config.post_id }}-->
          {%- endfor %}

          {% if show_pagination and pagination.pages > 1 %}
          {{ pagination }}
          {% endif %}

        </div><!-- end content -->

{% endblock container %}
