<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="tssci-security - top secret/secure computing information"/>
    <meta name="keywords" content="Marcin Wielgoszewski,Andre Gironda,security,web application security,hacking,controls,trusted computing,tcb,tcsec,orange book,top secret,computer security,information security,NISPOM,metrics,SCIF,sci,tssci,software assurance,information assurance,secure sdlc,sdlc,cpsl,testing,prevention"/>
    <title>{%- block title -%}{% endblock %}tssci security</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/_pygments.css"/>
    <link rel="alternate" type="application/rss+xml" title="tssci security" href="/feed.atom"/>
    <script type="text/javascript">if (top!=self){top.location.href=self.location.href;}</script>
    <script src="//www.google.com/jsapi" type="text/javascript"></script>
    <script src="/static/js/functions.js" type="text/javascript"></script>
  </head>
  <body>
    <header>
      <a href="/" title="tssci security"><img src="/static/img/front.png" width="760" height="175" alt="tssci security" /></a>
    </header>

    <nav>
      <ul>
        {%- for href, title in config.root_get('modules.blog.mainmenu') %}
        <li{% if config.title == title %} class="current_page_item"{% endif %}><a href="{{ href }}" title="{{ title }}">{{ title }}</a></li>
        {%- endfor %}
      </ul> 
    </nav>

    {% block container -%}{%- endblock container %}

    {% block sidebar -%}{% include "sidebar.html" %}{%- endblock sidebar %}

    <footer>
      <p>&copy; 2006-{{ format_date(format='YYYY') }} <a href="/" title="tssci security">tssci security</a></p>
    </footer>

{% if 'disqus' in config.active_modules %}
  {{ get_disqus_count() }}
{% endif %}

{% if 'analytics' in config.active_modules %}
  {{ get_analytics() }}
{% endif %}
  </body>
</html>
