{% extends "base.html" %}
{% block postmeta %}
        <p class="post-metadata">Posted by {{ config.author | title }} {% if ctx.pub_date -%} on {{ format_date(ctx.pub_date, format='full') }}{%- endif %}
        {%- if ctx.tags %} in {%- for tag in ctx.tags|sort(case_sensitive=true) %}
          {%- if not loop.first and not loop.last %}, {% endif -%}
          {%- if loop.last and not loop.first %} and {% endif %}
          <a href="{{ link_to('tag', tag=tag) }}" title="View all posts in {{ tag | capitalize }}" rel="category tag">{{ tag | capitalize }}</a>
          {%- endfor %}
        {%- endif -%}.<br/>
          <a href="{{ link_to('page', slug=ctx.slug) }}/#disqus_thread" data-disqus-identifier="{{ config.disqus_id if config.disqus_id else config.slug }}"></a>
        </p>
      {% if 'disqus' in config.active_modules %}
        {{ get_disqus() }}
      {% endif %}
{%- endblock postmeta -%}
