* {
    border:0;
    margin:0;
    padding:0;
}

.post-list {
    font-size:.916em;
    list-style-type:none;
}

#container {
    overflow:auto;
    width:100%;
}

article {
    display:inline;
    float:left;
    position:relative;
    width:560px;
}

article ul, article ol {
    margin:1em 1em 2em 2em;
}

article ul li, article ol li {
    line-height:1.5em;
    margin:0 0 .2em 1em;
}

nav {
    margin-bottom:10px;
}

nav ul li {
    display:inline;
    list-style:none;
    margin-right:15px;
}

.pagination {
    margin:20px;
    text-align:center;
}

#url, td>input.gsc-input {
    border:1px solid #ccc;
    color:#505050;
    padding:4px;
}

td>input.gsc-input {
    width:145px;
}

#subpages a {
    background-color:#fff;
    padding-right:1em;
}

#subpages li.current_page_item, #subpages li.page_item:hover {
    background:#fff url(/static/img/highlight.gif) center right no-repeat;
}

#subpages .page_item {
    background:#fff url(/static/img/selected.gif) center right no-repeat;
}

body {
    background-color:#fff;
    margin:0 auto;
    width:760px;
}

.post-metadata {
    background-color:#f4f4f4;
    border-left:4px solid #ccc;
    color:#606060;
    font-size:.9em;
    font-weight:bold;
    line-height:1.5em;
    margin:25px 0 40px 0;
    padding:8px 5px 8px 8px;
}

/* Sidebar */

aside {
    float:right;
    width:175px;
}

aside h2 {
    border-bottom:2px solid #b20000;
}

aside li {
    list-style:none;
    font-size:.9em;
    line-height:1.5em;
}

aside.widgetittle {
    margin-top:15px;
}

a {
    color:#b20000;
    font-weight:bold;
    text-decoration:none;
}

blockquote {
    font-size:.916em;
    margin:0 1em 2.5em 2em;
    padding:0 1em;
}

blockquote p {
    margin-top:1em;
}

body {
    background:#f4f4f4 url(/static/img/bg.gif) top center repeat-y;
    color:#333;
    font:.75em Verdana, Helvetica, sans-serif;
}

code {
    background-color:#eaeaea;
    display:block;
    font-size:1.3em;
    margin:0 1em 0 2em;
    overflow:auto;
    padding:1em;
}

h1 {
    font-size:1.6em;
    margin-bottom:8px;
}

h2 {
    font-size:1.3em;
    font-variant:small-caps;
    margin-bottom:1em;
}

h3 {
    font-size:1.2em;
    margin-bottom:.5em;
}

html {
    width:100.01%;
}

p {
    line-height:1.5em;
    margin-bottom:1.5em;
}

p>code {
    margin:1.5em 1em 1em 2em;
}

pre {
    font-size:1.3em;
    margin:0 1em 2em 2em;
    overflow:auto;
    overflow-x:scroll;
    overflow-y:scroll;
}

tt {
    font-size:1.3em;
}

#td {
    padding:5px;
    text-align:center;
    background-color:#fff;
}

#td:first-child {
    text-align:right;
    font-weight:bold;
}

#tr:first-child td {
    background-color:#b20000;
    border:0;
    font-weight:bold;
    color:#fff;
    text-align:center;
}

#table {
    background-color:#b20000;
    border-collapse:collapse;
    border-style:none;
    margin:0 0 1.5em 0;
}

tr:first-child {
    text-align:center;
    text-valign:center;
    color:#fff;
}

td {
    border:1px solid;
    padding:3px;
}

table {
    font:.9em Verdana;
    border:1px solid #000;
}

.gsc-search-box table {
    width:0px;
}

#post-380>h1 {
    display:none;
}

.gsc-search-button, .gsc-clear-button, .gsc-branding, .dsq-brlink {
    display:none;
}

.gsc-control-cse table {
    border:none;
}

.gsc-table-result tr:first-child {
    text-align:left;
}

ul.tagcloud {
    font-size: 16px;
    margin: 36px 0;
    padding: 0;
    list-style: none;
}

ul.tagcloud li {
    margin: 0;
    padding: 0 10px;
    display: inline;
}

footer {
    clear: both;
}
